#root {
  width: 100%;
  /* margin: 0 auto; */
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.message {
  margin-top: 10px;
  font-weight: bold;
}

.error {
  color: red;
}

.success {
  color: green;
}

#root {
  container-name: gridContainer;
  container-type: inline-size;
}

#formName {
  grid-area: formName;
}

#formPassword {
  grid-area: formPassword;

}

#btnSend {
  grid-area: btnSend;
  width: fit-content;

  justify-self: flex-end;
}

#message {
  grid-area: message;
}

#loginForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "formName formPassword"
    ". btnSend"
    "message message";
  gap: 1rem;
}

@container gridContainer (width < 500px) {
  #loginForm {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "formName"
      "formPassword"
      "btnSend"
      "message";
    gap: 1rem;
  }

}

button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

button:active {
  transform: scale(0.95);
}

button:hover {
  background-color: #2e87c2;
}