button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

button:active {
  transform: scale(0.95);
}

button:hover {
  background-color: #2e87c2;
}